<!doctype html>
<html lang="">
<head>
    <title>Contact App</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/js/htmx-1.8.0.js"></script>
    <script src="/static/js/_hyperscript-0.9.7.js"></script>
    <script src="/static/js/rsjs-menu.js" type="module"></script>
    <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body hx-boost="true">
<main class="my-10 mx-auto w-full max-w-3/4">
    <header class="mb-10 py-4 border-b-1 border-gray-200">
        <h2 class="text-xl/7 font-light text-gray-500 sm:truncate sm:text-3xl sm:tracking-tight">
            Contact-app
        </h2>
        <p class="text-gray-700">A demo of contacts application</p>
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>

<script>
    function sweetConfirm(elt, config) {
        Swal.fire(config).then((result) => {
            if(result.isConfirmed) {
                elt.dispatchEvent(new Event('confirmed'));
            }
        })
    }
</script>
</body>
</html>